<!Doctype html>
<style media="screen">
.editbar{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  padding: 40px;
  background: orange;
}
</style>
<body>
<div class="editbar">
{% if bardata %}
<h1>Muokkaa Baari:</h1>
<form action="/editbar" method="POST">
{{ bardata[0].name }}
<input type="hidden" name="barname" value="{{ bardata[0].name }}">
<br>
kuvaus: <br>
<textarea name="description" rows="10" cols="40" required>{{ bardata[0].description }}</textarea>
<br>
Osoite: <br>
<textarea name="address" rows="1" cols="80" required>{{ bardata[0].address }}</textarea>
<br>
Avoinna: <br>
<br>
{% for i in range(7) %}
{% if i in presentDays%}
{% for data in bardata %}
  {% if data.weekday-1 == i %}
   {% if data.opening %}
   {{weekLabels[data.weekday-1]}}<input type="time" name="{{data.weekday}}o" id ="{{data.weekday}}o" min="00:00" max="23:59" value="{{data.opening}}">
   {% else %}
   {{weekLabels[data.weekday-1]}}<input type="time" name="{{data.weekday}}o" id ="{{data.weekday}}o" min="00:00" max="23:59" >
   {%endif%}
   {% if data.closing %}
   - <input type="time" name="{{data.weekday}}c" id ="{{data.weekday}}c" min="00:00" max="23:59" value="{{data.closing}}"><br>
   {%else%}
   - <input type="time" name="{{data.weekday}}c" id ="{{data.weekday}}c" min="00:00" max="23:59" ><br>
   {% endif %}
  {% endif %}
{% endfor %}
{% else %}
{{weekLabels[i]}}<input type="time" name="{{i+1}}o" id ="{{i+1}}o" min="00:00" max="23:59" >
- <input type="time" name="{{i+1}}c" id ="{{i+1}}c" min="00:00" max="23:59" ><br>
{% endif %}
{% endfor %}
{% if message %}
<div style="background-color:yellow;"><p>{{message}}</p></div>
{% endif %}
<input type="submit" style="float:right;" value="Valmis">
</form>



{% else %}
<h1>Luo Baari:</h1>
<form action="/editbar" method="POST">
Nimi: <br>
<textarea name="barname" rows="2" cols="40" required></textarea>
<br>
kuvaus: <br>
<textarea name="description" rows="10" cols="40" required></textarea>
<br>
Osoite: <br>
<textarea name="address" rows="1" cols="80" required></textarea>
<br>
Avoinna: <br>
<br>
Ma<input type="time" name="1o" id ="1o" min="00:00" max="23:59" > - <input type="time" name="1c" id ="1c" min="00:00" max="23:59" ><br>
Ti<input type="time" name="2o" id ="2o" min="00:00" max="23:59" > - <input type="time" name="2c" id ="2c" min="00:00" max="23:59" ><br>
Ke<input type="time" name="3o" id ="3o" min="00:00" max="23:59" > - <input type="time" name="3c" id ="3c" min="00:00" max="23:59" ><br>
To<input type="time" name="4o" id ="4o" min="00:00" max="23:59" > - <input type="time" name="4c" id ="4c" min="00:00" max="23:59" ><br>
Pe<input type="time" name="5o" id ="5o" min="00:00" max="23:59" > - <input type="time" name="5c" id ="5c" min="00:00" max="23:59" ><br>
La<input type="time" name="6o" id ="6o" min="00:00" max="23:59" > - <input type="time" name="6c" id ="6c" min="00:00" max="23:59" ><br>
Su<input type="time" name="7o" id ="7o" min="00:00" max="23:59" > - <input type="time" name="7c" id ="7c" min="00:00" max="23:59" ><br>
{% if message %}
<div style="background-color:yellow;"><p>{{message}}</p></div>
{% endif %}
<input type="submit" style="float:right;" value="Valmis">
</form>



{% endif%}
</div>
</body>
